<!DOCTYPE html>
<html>
  <head>
    
    <title>KWKtravelz</title>
  </head>
  <body>
  <h1>Chicago</h1>
  <br>
  <h2>Food</h2>
  <ul>
    <li><%= "#{Chicago.food[0]}"%> <br>
    <a href="https://www.alinearestaurant.com/">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.food[1]}"%> <br>
    <a href="http://girlandthegoat.com/">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.food[2]}"%> <br>
    <a href="https://www.yelp.com/biz/nutella-cafe-chicago-3">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.food[3]}"%> <br>
    <a href="http://3artsclubcafe.com/">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.food[4]}"%> <br>
    <a href="https://www.garrettpopcorn.com/
">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.food[5]}"%><br> 
    <a href="https://www.portillos.com/index.html">learn more!</a>
    </li>
    
  </ul>
  <br>
  <h2>Attractions</h2>
  <ul>
    <li><%= "#{Chicago.attraction[0]}"%> <br>
    <a href="https://www.sheddaquarium.org/">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.attraction[1]}"%> <br>
    <a href="http://www.artic.edu">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.attraction[2]}"%> <br>
    <a href="https://www.adlerplanetarium.org/#24ugECcGl74Cxl9X.97">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.attraction[3]}"%> <br>
    <a href="https://www.cityofchicago.org/city/en/depts/dca/supp_info/millennium_park.html">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.attraction[4]}"%> <br>
    <a href="https://navypier.org/">learn more!</a>
    </li>
    
    <li><%= "#{Chicago.attraction[5]}"%><br> 
    <a href="https://www.msichicago.org/">learn more!</a>
    </li>
  </body>
</html>