<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
    <img src="https://document-export.canva.com/DAC_O7yCyRw/14/preview/0001-1627122833.png">

  <div class="everything">
  <div class="food">

  <h2>Food</h2>

  <ul>
    <li><%= "#{Miami.food[0]}"%><br> 
    <a href="http://www.versaillesrestaurant.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.food[1]}"%><br>
    <a href="http://michaelsgenuine.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.food[2]}"%> <br>
    <a href="http://www.garciasmiami.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.food[3]}"%> <br>
    <a href="https://www.runchickenrun.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.food[4]}"%> <br>
    <a href="http://www.azucaricecream.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.food[5]}"%><br>
    <a href="http://iceboxcafe.com/">Learn More</a>
    </li>
    </ul>
    </div>
    <div class="attraction">
    <h2>Attractions</h2>
    <ul>
      <li><%= "#{Miami.attractions[0]}"%><br> 
    </li>
    <li><%= "#{Miami.attractions[1]}"%><br>
    </li>
    <li><%= "#{Miami.attractions[2]}"%> <br>
    <a href="http://vizcaya.org">Learn More</a>
    </li>
    <li><%= "#{Miami.attractions[3]}"%> <br>
    </li>
    <li><%= "#{Miami.attractions[4]}"%> <br>
    <a href="http://www.baysidemarketplace.com/">Learn More</a>
    </li>
    <li><%= "#{Miami.attractions[5]}"%> <br>
    <a href="http://www.bayfrontparkmiami.com/">Learn More</a>
    </li>
    </ul>
    </div>
    </div>
    </body>
    </html>
<style>
  img{https://document-export.canva.com/DAC_O7yCyRw/14/preview/0001-1627122833.png
    width: 1265px;
    height: 500px;
  }

  .food{
    display: inline-block;
    width: 600px;
  }
  .attraction{
    display: inline-block;
    width: 600px;
  }
</style>