<!DOCTYPE html>
<html>
  <head>
  
    <title>KWKtravels</title>
  </head>
  <body>
  <h1>New York City</h1>
  <br>
  <h2>Food</h2>
  <ul>
    <li><%= "#{New_York_City.food[0]}" %></li>
    <a href ="https://www.gramercytavern.com/menus/the-tavern/">link</a>
    </li>
    
     <li><%= "#{New_York_City.food[1]}" %></li>
    <a href ="https://balthazarny.com/">link</a>
    </li>
    
     <li><%= "#{New_York_City.food[2]}" %></li>
    <a href ="http://www.oysterbarny.com/">link</a>
    </li>
    
     <li><%= "#{New_York_City.food[3]}" %></li>
    <a href ="http://www.patsyspizzeria.us/">link</a>
    </li>
    
     <li><%= "#{New_York_City.food[4]}" %></li>
    <a href ="http://www.russanddaughterscafe.com/">link</a>
    </li>
    
     <li><%= "#{New_York_City.food[5]}" %></li>
    <a href ="http://www.pisillopanini.com/">link</a>
    </li>
     </ul>
  </body>
</html>
