<!DOCTYPE html>
<html>
  <head>
    
    <title>KWKtravelz</title>
  </head>
  <body>
  <h1>Raleigh</h1>
  <br>
  <h2>Food</h2>
  <ul>
    <li><%= "#{Raleigh.food[0]}"%> <br>
    <a href="https://guasaca.com/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.food[1]}"%> <br>
    <a href="https://clydecoopersbbq.com/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.food[2]}"%> <br>
    <a href="http://www.bigedscitymarket.com/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.food[3]}"%> <br>
    <a href="https://www.yelp.com/biz/mi-cancun-raleigh-2">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.food[4]}"%> <br>
    <a href="https://www.amorino.com/us/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.food[5]}"%><br> 
    <a href="http://www.goodberrys.com/">learn more!</a>
    </li>
    
  </ul>
  <br>
  <h2>Attractions</h2>
  <ul>
    <li><%= "#{Raleigh.attraction[0]}"%> <br>
    <a href="http://naturalsciences.org/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.attraction[1]}"%> <br>
    <a href="https://www.raleighnc.gov/parks/content/ParksRec/Articles/Parks/Pullen.html">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.attraction[2]}"%> <br>
    <a href="https://ncartmuseum.org/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.attraction[3]}"%> <br>
    <a href="https://www.ncmuseumofhistory.org/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.attraction[4]}"%> <br>
    <a href="http://www.ncagr.gov/markets/facilities/markets/raleigh/">learn more!</a>
    </li>
    
    <li><%= "#{Raleigh.attraction[5]}"%><br> 
    <a href="https://crabtree-valley-mall.com/">learn more!</a>
    </li>
  </body>
</html>