<!DOCTYPE html>
<html>
  <head>
   <title>KWKtravels</title>
  </head>
  <body>
    <h1>Seattle</h1>
    <ul>
      <li><%= "#{Seattle.food[0]}" %></li>
    <a href ="https://alturarestaurant.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[1]}" %></li>
    <a href ="https://sushikashiba.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[2]}" %></li>
    <a href ="https://www.chowfoods.com/hi-life/menus">link</a>
    </li>
    
     <li><%= "#{Seattle.food[3]}" %></li>
    <a href ="http://www.tilikumplacecafe.com/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[4]}" %></li>
    <a href ="http://www.relayrestaurantgroup.com/restaurants/revel/">link</a>
    </li>
    
     <li><%= "#{Seattle.food[5]}" %></li>
    <a href ="https://www.yelp.com/biz/tacos-chukis-seattle">link</a>
    </li>
  </ul>
  
  <h2>Attractions</h2>
  <ul>
    <li><%= "#{Seattle.attractions[0]}" %></li>
    <a href ="https://www.seattleaquarium.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attractions[1]}" %></li>
    <a href ="http://seattleartmuseum.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attractions[2}" %></li>
    <a href ="https://www.pacificsciencecenter.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attractions[3]}" %></li>
    <a href ="http://spaceneedle.com/">link</a>
    </li>
    
    <li><%= "#{Seattle.attractions[4]}" %></li>
    <a href ="http://www.mopop.org/">link</a>
    </li>
    
    <li><%= "#{Seattle.attractions[5]}" %></li>
    <a href ="http://seattlegreatwheel.com/">link</a>
    </li>
    </ul>
  </body>
</html>