<!DOCTYPE html>
<html>
  <head>
   <title>KWKtravels</title>
  </head>
  <body>
    <h1>Seattle</h1>
    <ul>
      <li><%= "#{Seattle.food[0]}" %></li>
    <a href ="https://alturarestaurant.com/">Learn More!</a>
    </li>
    
     <li><%= "#{Seattle.food[1]}" %></li>
    <a href ="https://sushikashiba.com/">Learn More!</a>
    </li>
    
     <li><%= "#{Seattle.food[2]}" %></li>
    <a href ="https://www.chowfoods.com/hi-life/menus">Learn More!</a>
    </li>
    
     <li><%= "#{Seattle.food[3]}" %></li>
    <a href ="http://www.tilikumplacecafe.com/">Learn More!</a>
    </li>
    
     <li><%= "#{Seattle.food[4]}" %></li>
    <a href ="http://www.relayrestaurantgroup.com/restaurants/revel/">Learn More!</a>
    </li>
    
     <li><%= "#{Seattle.food[5]}" %></li>
    <a href ="https://www.yelp.com/biz/tacos-chukis-seattle">Learn More!</a>
    </li>
  </ul>
  
  <h2>Attraction</h2>
  <ul>
    <li><%= "#{Seattle.attraction[0]}" %></li>
    <a href ="https://www.seattleaquarium.org/">Learn More!</a>
    </li>
    
    <li><%= "#{Seattle.attraction[1]}" %></li>
    <a href ="http://seattleartmuseum.org/">Learn More!</a>
    </li>
    
    <li><%= "#{Seattle.attraction[2]}" %></li>
    <a href ="https://www.pacificsciencecenter.org/">Learn More!</a>
    </li>
    
    <li><%= "#{Seattle.attraction[3]}" %></li>
    <a href ="http://spaceneedle.com/">Learn More!</a>
    </li>
    
    <li><%= "#{Seattle.attraction[4]}" %></li>
    <a href ="http://www.mopop.org/">Learn More</a>
    </li>
    
    <li><%= "#{Seattle.attraction[5]}" %></li>
    <a href ="http://seattlegreatwheel.com/">Learn More!</a>
    </li>
    </ul>
  </body>
</html>